/* Provide sufficient contrast against white background */
a {
    color: #c06f24;
}

code {
  color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #e4ab78;
    border-color: #6a4928;
    transition: width 1s;
    width: 150px;
}

    .btn-primary:hover {
        background-color: #c06f24;
        width: 170px;
    }
